.colors{
    color: darkgreen;
}

footer{
    position: absolute;
    margin: 600px;
    margin-top: 10px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.bek{
    margin-top: 20px;
}

.progress{

    width: 10%;
    margin-left: 85%;
    margin-bottom: 1%;

}

.cachorro{
    width: 10%;
    margin-left: 89%;
    margin-bottom: 1%;
}
